
<!-- this is index.handlebars -->

<div class="col-sm-9" id="articles">
  <div class="article-container">
    {{#each articles.articleObject}}
      <div class="article-content">

        <h5 class="article-title">{{this.title}}</h5>
        <button type="button" class="btn-secondary nextUp">Next Article</button>
        <p class="article-text">{{this.body}}</p>
        <p><a href="{{this.link}}">Read More</a></p>

          <input type="text" name="title" id="titleInput">
          <input type="hidden" name="article" id="articleInput" value="{{this.id}}">
          <button type="button" class="btn btn-primary addComment">Add Comment</button>
      </form>
        
      </div>
    {{/each}}
  </div>
</div>

<div class="col-sm-3" id="comments">
  <div class="comment-container">

  <h2>Comments</h2>
    
      
      {{#each comments.commentObject}}
      <div class="comment-content" id="{{this.id}}">
        <h5 class="comment-title">{{this.title}}</h5>
        <button type="button" class="btn-delete" data-comment="{{this.id}}">X</button>
      </div>
      {{/each}}
    
  </div>
</div>
</div>
