
<!-- this is index.handlebars -->

<div class="col-sm-9" id="articles">
  <div class="article-container">
    {{#each articles.articleObject}}
      <div class="article-content">

        <h5 class="article-title">{{this.title}}</h5>
        <button type="button" class="btn-secondary">Next Article</button>
        <p class="article-text">text</p>
        <p>Link: {{this.link}}</p>
        
      </div>
    {{/each}}
  </div>
</div>

<div class="col-sm-3" id="comments">
  <div class="comment-container">


    <div class="comment-content">
      <h2>Comments</h2>
      {{#each comments.commentObject}}
        <h5 class="comment-title">{{this.title}}</h5>
        <button type="button" class="btn-delete" data-id="{{this.id}}">X</button>
      {{/each}}
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-sm-12 text-center">          
    <div class="inlineForm">
      <form method="POST" action="/comment/create">
        <div class="form-group">
          <input type="text" name="title">
          <input type="hidden" value="{{articles.articleObject.id}}">
          <button type="submit" class="btn btn-primary">Add Comment</button>
        </div>
      </form>
    </div>
</div>
</div>
